h1{
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
}

#gamedaystats{
	float: right;
	max-width: 380px;
	max-height: 600px;
	min-width: 380px;
	min-height: 600px;
}

#gamedaychart{
	background-color: white;
	border: #A3A3A3 1px solid;
	padding: 3px;
	max-height: 600px;
	overflow: scroll;
	overflow-x: hidden;
	padding:20px;
}

#statsTitle {
	font-size: 22px;
	color: white;
	background-color: #3284BF;
	padding: 10px;
	margin: -2px;
	text-transform: uppercase;
	font-family: 'Palatino Linotype', serif;
}

.sectionChart{
	width: 90%;
	margin-bottom: 25px;
    display: block;
}

.valueText {
	cursor: default;
	-webkit-user-select: none;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto2;
	font-size: 12px;
}

#gamedaychart::-webkit-scrollbar {
  width: 5px;
  padding-right: 6px;
}

#gamedaychart::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}

#gamedaychart::-webkit-scrollbar-button:start:decrement,
#gamedaychart::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}
