h1{
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
}

#gamedaystats{
	float: right;
	max-width: 380px;
	max-height: 600px;
	min-width: 380px;
	min-height: 600px;
}

#gamedaychart{
	background-color: white;
	border: #A3A3A3 1px solid;
	padding: 3px;
	max-height: 600px;
	overflow: scroll;
	overflow-x: hidden;
	padding:20px;
}

#statsTitle {
	font-size: 22px;
	color: white;
	background-color: #3284BF;
	padding: 10px;
	margin: -2px;
	text-transform: uppercase;
	font-family: 'Palatino Linotype', serif;
}

.sectionChart{
	width: 90%;
	margin-bottom: 25px;
    display: block;
}
